@import 'node_modules/@fakesamgregory/brand/scss/variables';

.sidebar {
    padding: 15px 0 0;
    height: 100vh;
    overflow: scroll;

    &__links {
        padding-top: 15px;
    }
    
    &__sub-nav {
        padding-left: 20px;
    }
}

.logo {
    padding-bottom: 15px;
    border-bottom: 1px solid $color-mine-shaft;
}