@import 'node_modules/@fakesamgregory/brand/scss/variables';

.sidebar {
    padding: 15px 0 0;
    height: calc(100vh + 65px);
    overflow: scroll;

    &__sections {
        margin-top: 20px;
    }
    
    &__pages {
        padding-left: 20px;
    }

    &__titles {
        padding-left: 20px;
    }
}

.logo {
    padding-bottom: 15px;
    border-bottom: 1px solid $color-mine-shaft;
}