.main {
    padding: 15px 15px 80px;
    flex-grow: 1;
    position: relative;
    min-height: 100vh;
    overflow-y: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}